default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    - id: black
      language_version: python3

  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.9
    hooks:
    - id: blackdoc
      additional_dependencies: ["black[jupyter]"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    - id: codespell
      types_or: [python, markdown]
      additional_dependencies: [tomli]

  # Cause
  # # - warnings for line length
  # - repo: https://github.com/adrienverge/yamllint.git
  #   rev: v1.26.3
  #   hooks:
  #     - id: yamllint
  #       args: ["-d relaxed"]

  # Cause
  # # - wrongly reformat md issue template files !
  # - repo: https://github.com/executablebooks/mdformat
  #   rev: 0.7.14 # Use the ref you want to point at
  #   hooks:
  #     - id: mdformat
  #       # Optionally add plugins
  #       additional_dependencies:
  #         - mdformat-gfm
  #         - mdformat-black

  - repo: https://github.com/MarcoGorelli/madforhooks
    rev: 0.3.0
    hooks:
      - id: conda-env-sorter
      - id: check-execution-order

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.2
    hooks:
      - id: pyupgrade

  - repo: https://github.com/kynan/nbstripout
    rev: 0.5.0
    hooks:
      - id: nbstripout
        args: ["--keep-output"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.6.1
    hooks:
      - id: nbqa-black
      - id: nbqa-ruff
        args: ["--fix"]
      - id: nbqa-ruff
